body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #66221e!important;
    color: white!important;
}

#lienzo {
    overflow: auto!important;
    width: 100%; /* Haz que la imagen ocupe todo el ancho de la columna */
    height: auto; /* Esto mantendrá la proporción de la imagen */
}

.instrucciones {
    text-align: justify; /* Alinea el texto a la derecha */
    margin-top: 20px; /* Agrega un margen superior a las instrucciones */
}

.columna {
    max-width: 100%; /* Establecer el ancho máximo */
    overflow-x: auto; /* Permitir scroll horizontal si el contenido excede el ancho máximo */
}

#color-box {
    width: 100px; /* Ancho del div */
    height: 100px; /* Altura del div */
    border: 1px solid black; /* Borde para visualizar el div */
}

.instrucciones-float {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que esté por encima del canvas */
}
